$primary-light-mode: (
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #ffffff,
  400: #ffffff,
  500: #ffffff,
  600: #f9f9fb,
  700: #eeeeee,
  800: #ffffff,
  900: #ffffff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$accent-light-mode: (
  50: #f8ebf8,
  100: #edcced,
  200: #e1abe1,
  300: #d489d5,
  400: #cb6fcc,
  500: #c256c3,
  600: #bc4fbd,
  700: #b445b5,
  800: #ac3cae,
  900: #9f2ba1,
  A100: #ffe4ff,
  A200: #feb1ff,
  A400: #fd7eff,
  A700: #fc64ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$primary-dark-mode: (
  50: #e5e6e8,
  100: #bfbfc6,
  200: #9595a0,
  300: #6a6b79,
  400: #4a4b5d,
  500: #2a2b40,
  600: #232333,
  700: #1f2032,
  800: #191a2a,
  900: #0f101c,
  A100: #5f6fff,
  A200: #2c41ff,
  A400: #0019f8,
  A700: #0016df,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
$accent-dark-mode: (
  50: #f8ebf8,
  100: #edcced,
  200: #e1abe1,
  300: #d489d5,
  400: #cb6fcc,
  500: #c256c3,
  600: #bc4fbd,
  700: #b445b5,
  800: #ac3cae,
  900: #9f2ba1,
  A100: #ffe4ff,
  A200: #feb1ff,
  A400: #fd7eff,
  A700: #fc64ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
// =========

@use "@angular/material" as mat;
@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;
@include mat.core();
//light mode
// $primary-light-palette: mat.define-palette(mat.$deep-purple-palette);
$primary-light-palette: mat.define-palette($primary-light-mode);
$accent-light-palette: mat.define-palette($accent-light-mode);
//dark mode
$primary-dark-palette: mat.define-palette($primary-dark-mode);
$accent-dark-palette: mat.define-palette($accent-dark-mode);

// Emit theme-dependent styles for common features used across multiple components.
// @include mat.core-theme($my-theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
// @include mat.button-theme($my-theme);

// typography: mat.define-typography-config(),
// density: 0,

$my-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary-light-palette,
      accent: $accent-light-palette,
    ),
  )
);
//applying theme to all components
@include mat.all-component-themes($my-light-theme);

//light mode theme for app
.light-mode-theme {
  @include mixins.color-grabber($my-light-theme);
}

//dark mode theme for app
.dark-mode-theme {
  $my-dark-theme: mat.define-light-theme(
    (
      color: (
        primary: $primary-dark-palette,
        accent: $accent-dark-palette,
      ),
    )
  );
  // @include mat.all-component-themes($my-dark-theme);
  @include mat.all-component-colors($my-dark-theme);
  @include mixins.color-grabber($my-dark-theme);
}
