mat-toolbar {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: var(--topMenu-height);
  box-shadow: var(--header-box-shadow);
  display: flex;
  align-items: center;
  //   background-color: var(--clr-primary-500);
  .example-spacer {
    flex: 1 1 auto;
  }
}
