<!-- <main class="app-wrapper">hi</main> -->
<!-- header -->
<!-- <header>
  <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <div class="logo-container"><a role="button">LOGO</a></div>
</header> -->
<app-header />

<!-- sidenav container with main content -->
<mat-sidenav-container
  hasBackdrop="false"
  autosize="true"
  class="mat-drawer-transition"
>
  <mat-sidenav
    #sidenav
    [mode]="navigationMode"
    opened="true"
    class="example-sidenav"
    [class.toggleMiniNav]="isOnlyMiniLeftNavVisible"
  >
    <app-nav-sidebar
      (showMiniNav)="setLeftNavWidthToMiniNav($event)"
    ></app-nav-sidebar>
    <div id="resize-handler" (mousedown)="startResizing($event)"></div>
    <!-- <div id="toggle-leftNav"></div> -->
  </mat-sidenav>

  <mat-sidenav-content>
    <button
      color="primary"
      mat-icon-button
      class="leftNavigation-toggle"
      aria-label="Example icon-button with menu icon"
      (click)="sidenav.toggle(); isLeftNavExpanded = !isLeftNavExpanded"
    >
      <mat-icon
        class="leftNavigation-toggle-icon"
        [ngClass]="{ collapsed: isLeftNavExpanded === false }"
        >chevron_right</mat-icon
      >
    </button>
    <div class="app-container">
      <router-outlet></router-outlet>
    </div>
    <!-- <main class="app-content"><h3>CONTENT GOES HERE</h3></main> -->
  </mat-sidenav-content>
</mat-sidenav-container>
