<app-header />

<!-- sidenav container with main content -->
<mat-sidenav-container
  [hasBackdrop]="navigationMode == 'over'"
  autosize="true"
  (backdropClick)="sidenav.toggle()"
  class="mat-drawer-transition"
>
  <mat-sidenav
    #sidenav
    [mode]="navigationMode"
    opened="true"
    class="example-sidenav"
    [class.collapsed]="isLeftNavCollapsed"
  >
    <app-nav-sidebar
      (showMiniNav)="setLeftNavWidthToMiniNav($event)"
      (toggleLeftSideNav)="toggleLeftNavBasedOnScreenSize()"
      [mode]="navigationMode"
    ></app-nav-sidebar>
    <!-- <div id="resize-handler" (mousedown)="startResizing($event)"></div> -->
  </mat-sidenav>

  <mat-sidenav-content>
    <button
      color="primary"
      mat-icon-button
      class="leftNavigation-toggle"
      aria-label="Example icon-button with menu icon"
      (click)="sidenav.toggle(); isLeftNavExpanded = !isLeftNavExpanded"
    >
      <mat-icon
        class="leftNavigation-toggle-icon"
        [ngClass]="{ collapsed: isLeftNavExpanded === false }"
        >chevron_right</mat-icon
      >
    </button>
    <div class="app-container">
      <router-outlet></router-outlet>
    </div>
    <!-- <main class="app-content"><h3>CONTENT GOES HERE</h3></main> -->
  </mat-sidenav-content>
</mat-sidenav-container>
