@import "abstracts/variables";

.myCard {
  // background-color: $primary-500;
  background-color: var(--color-primary-200);
}

.accentCard {
  background-color: var(--color-accent-200);
  border-radius: var(--border-radius-1);
  -webkit-border-radius: var(--border-radius-1);
  -moz-border-radius: var(--border-radius-1);
  -ms-border-radius: var(--border-radius-1);
  -o-border-radius: var(--border-radius-1);
}

/* shimmer-loader.component.css and shimmer-card.component.css */
.shimmer {
  position: relative;
  background-image: linear-gradient(
    45deg,
    #f0f0f0 20%,
    #d8d8d8 40%,
    #d7d7d7 60%,
    #f0f0f0 75%
  );
  background-size: 200% 100%;
  animation: shimmerAnimation 2s infinite;
  -webkit-animation: shimmerAnimation 2s infinite;
}
// .shimmer::after {
//   //display: block;
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-image: linear-gradient(
//     45deg,
//     #f0f0f0 20%,
//     #d8d8d8 40%,
//     #d7d7d7 60%,
//     #f0f0f0 75%
//   );
//   background-size: 200% 100%;
//   animation: shimmerAnimation 2s infinite;
//   -webkit-animation: shimmerAnimation 2s infinite;
// }
@keyframes shimmerAnimation {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
