<div class="row">
  <div class="col-4">
    <div class="card myCard" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card accentCard" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="d-flex flex-column gap-2">
    <div class="shimmer" [ngStyle]="{ width: '200px', height: '24px' }"></div>

    <div class="shimmer" [ngStyle]="{ width: '500px', height: '50px' }"></div>
    <div class="shimmer" [ngStyle]="{ width: '500px', height: '130px' }"></div>
  </div>
</div> -->
